.row{
    display: flex;
    color: whitesmoke;
}
.col{
    flex: 1;
    padding: 10px;
    margin: 20px;
    background-color: lightslategray
}
.col-2{
    flex: 2;
    padding: 10px;
    margin: 20px;
    background-color: rgb(49, 90, 131);
}
.col-3{
    flex: 3;
    padding: 10px;
    margin: 20px;
    background-color: rgb(40, 41, 43);
}